/*
Colors: #FFBD59 
        #BEDE7C
        #CEE4A7
        #FAE3C1
        #FFFAE8
        #CD8D39
        #8ebd32
        #cfe2a8
*/
@fotntamily{
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Playpen Sans', cursive;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFAE8;
}

/*----------HEADER-----------*/
header{
    background-color: #FAE3C1;
}

.logo img{
    width: 285px;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.container-fluid{
    background-color:#FAE3C1 ;
}

.navbar-toggler{
    padding-left: 6px;
    padding-right: 6px;
}

button.navbar-toggler :hover {
    -webkit-tap-highlight-color: #bede7c91;
}

button.navbar-toggler{
    overflow: hidden;
}

.navbar-toggler:focus{
    text-decoration: none;
    outline: 0;
    box-shadow:none;
}

div.container-fluid{
    padding: 0;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}


button.navbar-toggler{
    margin-right: 2%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    -webkit-tap-highlight-color:#bede7c91;
}

.nav-link{
    padding-left: 5%;
    border-bottom: 1px solid #8ebd32;
    background-color: #ffebd1;
    font-family: 'Albert Sans';
    font-weight: 600;
    transition: background-color 0.7s;
}
.nav-link:hover{
    background-color: #cfe2a8;    
}
  
/*----------FOOTER-----------*/

footer{
    background-color:#FAE3C1;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}
 footer p{
    font-size: 12px;
    padding-top: 3%;
    margin-bottom: 3%;
    color: #CD8D39;
 }

.brands{
    font-size: 25px;
}