@import url(./General.css);

/*----------SECTOIN-----------*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.cardStaf{
    margin: 10% 5% 0 5%;
    height: 185px;
    border-radius: 2%;
    border: 1px solid #CD8D39;
    background-color: #ffebd1;
    display: flex;
    align-items: center;
    text-align: center;
}

.reversed{
    display: flex;
    flex-direction: row-reverse;
}

#firstCard{
    margin-top: 15%;
}

#endCard{
    margin-bottom: 15%;
}

.imgStaf img{
    width: 100px;
    border-radius: 55%;
    margin-left: 5%;
}

.textStaf h3 {
    font-size: 21px;
    margin-top: 9px;
    margin-bottom: 5%;
}

.textStaf p {
    font-size: 11px;
    margin-bottom: 5%;
    margin-left: 2%;
}

.reversed div.imgStaf{
    margin-right: 1%;
}

.reversed img{
    margin-left: 0;
}

.reversed p{
    margin-left: 0;
    margin-right: 2%;
}

.reversed div.textStaf{
    margin-left: 2%;
}

@media screen and (min-width: 430px) {
    div.cardStaf{
        margin: 5% 7% 0 7%;
        height: 290px;
    }

    #firstCard{
        margin-top: 10%;
    }

    .textStaf p {
        font-size: 15px;
        margin: 4% 5%;
    }
    
    .textStaf h3 {
        font-size: 24px;
    }

    .imgStaf img{
        width: 130px;
    }  

    #endCard{
        margin-bottom: 12%;
    }
}

@media screen and (min-width: 570px) {
    
    div.cardStaf{
        margin: 7% 13% 0 13%;
        height: 250px;
    }

    #firstCard{
        margin-top: 10%;
    }

    .textStaf p {
        font-size: 15px;
        margin: 4% 5%;
    }
    
    .textStaf h3 {
        font-size: 28px;
    }
 
    #endCard{
        margin-bottom: 10%;
    }
}

@media screen and (min-width: 1024px) {

    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    div.cardStaf{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 7% 0;
        height: 550px;
    }

    #firstCard{
        margin: 7% 0;
    }
    
    #endCard{
        margin: 7% 0;
    }

    .imgStaf img{
        width: 130px;
        margin-bottom: 13%;
        margin-top: 13%;
        margin-left: 0;
    }
    
    .textStaf h3 {
        font-size: 27px;
        margin-top: 9px;
        margin-bottom: 10%;
    }
    
    .textStaf p {
        font-size: 15px;
        margin: 8% 3%;
    }

    .reversed div.textStaf{
        margin-left: 0;
    }
}